
<!doctype html>
<html lang="en">
<head th:replace="public/fragments :: html_head">

</head>
<body id="top">

<div id="overlayer"></div>
<div class="loader">
  <div class="spinner-border text-primary" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>
<div th:if="${confirm_account}" class="toast" data-delay="1000" style="position:fixed; top: 100PX; right: 10PX;z-index: 2000;width: 300px">
  <div class="toast-header" style="background-color: #1c7430">
    <strong class="mr-auto" style="color: white">Notice</strong>
    <small style="color: white">Just now</small>
    <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
      <span aria-hidden="true" style="color: white">&times;</span>
    </button>
  </div>
  <div class="toast-body" >
    <p th:text="'✅ ' +${confirm_account}"></p>
  </div>
  <script>
    $(document).ready(function(){
      $('.toast').toast('show');
    });
  </script>
</div>

<div th:if="${success}" class="toast" id="toast" data-delay="1000" style="position:fixed;top: 100PX; right: 10PX;z-index: 2000;width: 300px">
  <script>
    swal({
      title: 'Thành công!',
      /* text: 'Redirecting...', */
      icon: 'success',
      timer: 3000,
      buttons: true,
      type: 'success'
    })
  </script>
</div>

<div class="site-wrap">

  <div class="site-mobile-menu site-navbar-target">
    <div class="site-mobile-menu-header">
      <div class="site-mobile-menu-close mt-3">
        <span class="icon-close2 js-menu-toggle"></span>
      </div>
    </div>
    <div class="site-mobile-menu-body"></div>
  </div> <!-- .site-mobile-menu -->


  <!-- NAVBAR -->
  <header th:replace="public/fragments :: header_menu" class="site-navbar mt-3">

  </header>

  <!-- HOME -->
  <section class="section-hero overlay inner-page bg-image" style="background-image: url('images/hero_1.jpg');" id="home-section">
    <div class="container">
      <div class="row">
        <div class="col-md-7">
          <h1 class="text-white font-weight-bold">Danh sách các quyên góp</h1>
          <div class="custom-breadcrumbs">
<!--            <a href="/">Home</a> <span class="mx-2 slash">/</span>-->
<!--            <a th:href="${'/user/info/'}+${userInformation.id} ">profile</a> <span class="mx-2 slash">/</span>-->
<!--            <span class="text-white"><strong th:text="${userInformation.fullName}"></strong></span>-->
          </div>
        </div>
      </div>
    </div>
  </section>


  <section class="site-section" style="margin-top: -100px !important;">
    <div class="container">
      <table class="table table-bordered">
        <thead>
        <tr>
          <th scope="col">Tên đợt quyên góp</th>
          <th scope="col">Số tiền quyên góp</th>
          <th scope="col">Ngày quyên góp</th>
          <th scope="col">Lời nhắn</th>
          <th scope="col">Trạng thái</th>
        </tr>
        </thead>
        <tbody>
        <th:block th:each="user : ${userDonationList}">
        <tr>
          <th scope="row" ><a href="" th:text="${user.donation.name}" th:href="'/donation/detail/'+ ${user.donation.id}"></a></th>
          <td th:text="${user.money}"></td>
          <td th:text="${user.createdAt}"></td>
          <td th:text="${user.text}"></td>
          <td  th:if="${user.status == 0}" >Chờ xác nhận</td>
          <td  th:if="${user.status == 1}" >Đã xác nhận</td>
          <td  th:if="${user.status == 2}" >Hủy xác nhận</td>
        </tr>
        </th:block>
        </tbody>
      </table>
    </div>
  </section>

  <footer th:replace="public/fragments :: footer" class="site-footer">

  </footer>

</div>

</body>
</html>