
<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="public/fragments :: html_head">

</head>
<body id="top">

<div id="overlayer"></div>
<div class="loader">
    <div class="spinner-border text-primary" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>
<div th:if="${msg}" class="toast" data-delay="1000" style="position:fixed; top: 100PX; left: 40PX;z-index: 2000;width: 300px">

    <script>
        swal({
            title: 'Quyên góp thành công!',
            /* text: 'Redirecting...', */
            icon: 'success',
            timer: 3000,
            buttons: true,
            type: 'success'
        })
    </script>
</div>

<div class="site-wrap">

    <div class="site-mobile-menu site-navbar-target">
        <div class="site-mobile-menu-header">
            <div class="site-mobile-menu-close mt-3">
                <span class="icon-close2 js-menu-toggle"></span>
            </div>
        </div>
        <div class="site-mobile-menu-body"></div>
    </div> <!-- .site-mobile-menu -->


    <!-- NAVBAR -->
    <header th:replace="public/fragments :: header_menu" class="site-navbar mt-3">

    </header>
    <div th:if="${msg_register_success}" class="toast" data-delay="1000" style="position:fixed; top: 100PX; left: 40PX;z-index: 2000;width: 300px">

        <script>
            swal({
                title: 'Đăng nhập thành công!',
                /* text: 'Redirecting...', */
                icon: 'success',
                timer: 3000,
                buttons: true,
                type: 'success'
            })
        </script>
    </div>
    <!-- HOME -->
    <section class="section-hero overlay inner-page bg-image" style="background-image: url('images/hero_1.jpg');" id="home-section">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <h1 class="text-white font-weight-bold">Danh sách các đợt quyên góp</h1>

                </div>
            </div>
        </div>
    </section>
    <section class="site-section">
        <div class="container">

            <div class="row mb-5 justify-content-center">
                <div class="col-md-7 text-center">
                    <h2 class="section-title mb-2" >Các đợt quyên góp</h2>
                </div>
            </div>

            <ul class="job-listings mb-5">
                <th:block th:if="${list.content.size() > 0}" th:each="category : ${list.content}">
                    <li style="margin-bottom: 20px" class="job-listing d-block d-sm-flex pb-3 pb-sm-0 align-items-center ">
                        <div class="job-listing-about d-sm-flex custom-width w-100 justify-content-between mx-4">
                            <div class="job-listing-position custom-width  mb-3 mb-sm-0" style="padding: 10px;width: 250px">
                                <h2  th:onclick="'detail(' +${category.id}+ ')'" th:text="${category.name}"></h2>
                                <strong th:if="${category.status == 1}"> Đang diễn ra </strong>
                                <strong th:if="${category.status == 2}"> Đã diễn ra </strong>
                            </div>
                            <div class="job-listing-location mb-3 mb-sm-0 custom-width w-10" style="padding: 10px;">
                                Ngày bắt đầu<br>
                                <strong th:text="${category.startDate}"></strong><br>
                            </div>
                            <div class="job-listing-location mb-3 mb-sm-0 custom-width w-10" style="padding: 10px;">
                                Ngày kết thúc<br>
                                <strong th:text="${category.endDate}"></strong><br>
                            </div>
                            <div class="job-listing-location mb-3 mb-sm-0 custom-width w-25" style="padding: 10px;">
                                <span class="icon-room"></span> <span th:text="${category.organizationName}"></span><br>
                                <strong th:text="${category.phoneNumber}"></strong><br>
                            </div>
                            <div th:unless="${session.user}" class="job-listing-meta custom-width w-20" >
                                <p style="margin-top: 20px;background-color: white !important;" class="btn py-2"><span style="color: white">Quyên góp</span></p>
                            </div>
                            <div class="job-listing-meta custom-width w-20" th:if="${session.user}">
                                <p th:if="${category.status == 1}" style="margin-top: 20px" class="btn btn-primary py-2" data-toggle="modal" th:data-target="${'#exampleModal'}+${category.id}">Quyên góp</p>
                                <p th:if="${category.status != 1}" style="margin-top: 20px;background-color: white !important;" class="btn py-2"><span style="color: white">Quyên góp</span></p>
                            </div>
                        </div>

                    </li>
                    <!-- Modal -->
                    <div class="modal fade" th:id="${'exampleModal'}+${category.id}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Quyên góp: <span th:text="${category.name}"></span></h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <form method="post" action="/donation/add-home">
                                    <div class="modal-body">
                                        <div class="row">

                                            <div class="col-6">
                                                <label for="addname"
                                                       class="col-form-label">Họ tên:</label>
                                                <input type="text" class="form-control"
                                                       id="addname" name="name" th:value="${session.user != null ? session.user.fullName :null}" placeholder="" required>
                                                <label for="addname"
                                                       class="col-form-label">Số tiền quyên góp:</label>
                                                <input type="number" class="form-control" placeholder=""
                                                       id="addname" name="money" required>
                                                <input th:value="${session.user != null ?session.user.id : 0}" type="hidden" class="form-control" placeholder=""
                                                       id="addname" name="idUser" >
                                                <input type="hidden" class="form-control" placeholder=""
                                                       id="addname" name="idDonation" th:value="${category.id}" required>

                                                <label for="addname"
                                                       class="col-form-label">Lời nhắn:</label>
                                                <textarea rows="7" cols="3" class="form-control" name="text"></textarea>
                                            </div>
                                            <div class="col-6">
                                                <label for="addname"
                                                       class="col-form-label">Vui lòng chuyển khoản với nội dung: <strong style="color: black" th:text="${session.user != null ?session.user.id : 0} +'_'+ ${category.code}"></strong></label>
                                                <img width="320px" height="320px" src="/resources/uploads/ttck.jpg">
                                            </div>

                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                                            <button type="submit" data-toggle="modal" data-target="#exampleModal" class="btn btn-primary">Quyên góp</button>
                                        </div>
                                    </div>
                                </form>


                            </div>
                        </div>
                    </div>
                </th:block>
                <script>
                    function detail(id){
                        window.location = '/donation/detail/' + id;
                    }


                </script>
            </ul>

            <div class="row pagination-wrap">
                <div class="col-md-6 text-center text-md-left mb-4 mb-md-0">

                </div>
                <div class="col-md-6 text-center text-md-right">
                    <div class="custom-pagination ml-auto">
                        <a th:if="${numberPage>0}" th:href="@{/(page = ${list.number - 1})}" class="prev">Prev</a>
                        <div class="d-inline-block">
                            <th:block th:each="recruitment,state  : ${donationList}">
                                <a th:class="${numberPage == state.index  ? 'active' : null }" th:href="@{/(page = ${state.index})}" th:text="${state.index + 1}"></a>

                            </th:block>
                        </div>

                        <a th:if="${numberPage<list.totalPages - 1}" th:href="@{/(page = ${list.number + 1})}" class="next">Next</a>
                    </div>
                </div>
            </div>

        </div>
    </section>


    <footer th:replace="public/fragments :: footer"  class="site-footer">

    </footer>

</div>


</body>
</html>