
<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="public/fragments :: html_head">

</head>
<body id="top">

<div id="overlayer"></div>
<div class="loader">
    <div class="spinner-border text-primary" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>


<div class="site-wrap">

    <div class="site-mobile-menu site-navbar-target">
        <div class="site-mobile-menu-header">
            <div class="site-mobile-menu-close mt-3">
                <span class="icon-close2 js-menu-toggle"></span>
            </div>
        </div>
        <div class="site-mobile-menu-body"></div>
    </div> <!-- .site-mobile-menu -->


    <!-- NAVBAR -->
    <header th:replace="public/fragments :: header_menu" class="site-navbar mt-3">

    </header>
    <div th:if="${msg_register_success}" class="toast" data-delay="1000" style="position:fixed; top: 100PX; left: 40PX;z-index: 2000;width: 300px">

        <script>
            swal({
                title: 'Đăng ký thành công!',
                /* text: 'Redirecting...', */
                icon: 'success',
                timer: 3000,
                buttons: true,
                type: 'success'
            })
        </script>
    </div>

    <div th:if="${msg_register_error}" class="toast" data-delay="1000" style="position:fixed; top: 100PX; left: 10PX;z-index: 2000;width: 300px">
        <script>
            swal({
                title: 'Tài khoản hoặc mật khẩu không chính xác!',
                /* text: 'Redirecting...', */
                icon: 'error',
                timer: 3000,
                buttons: true,
                type: 'success'
            })
        </script>
    </div>
    <!-- HOME -->
    <section class="section-hero overlay inner-page bg-image" style="background-image: url('images/hero_1.jpg');" id="home-section">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <h1 class="text-white font-weight-bold">Đăng nhập/ Đăng ký</h1>

                </div>
            </div>
        </div>
    </section>

    <section class="site-section" style="margin-top: -100px !important;">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 mb-5">
                    <h2 class="mb-4">Đăng ký</h2>
                    <form action="/user/register1" method="post" class="p-4 border rounded">
                        <div class="row form-group">
                            <div class="col-md-12 mb-3 mb-md-0">
                                <label class="text-black" for="fname">Email</label>
                                <input type="email" id="email" name="email" class="form-control"  required>
                            </div>
                        </div>

                        <div class="row form-group">
                            <div class="col-md-12 mb-3 mb-md-0">
                                <label class="text-black" for="fname">Họ tên</label>
                                <input type="text" id="email" name="fullName" class="form-control"  required>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-12 mb-3 mb-md-0">
                                <label class="text-black" for="fname">Tên người dùng</label>
                                <input type="text" id="" name="userName" class="form-control"  required>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-12 mb-3 mb-md-0">
                                <label class="text-black" for="fname">Mật khẩu</label>
                                <input type="password" id=""  name="password" class="form-control"  required>
                            </div>
                        </div>
                        <div class="row form-group mb-4">
                            <div class="col-md-12 mb-3 mb-md-0">
                                <label class="text-black" for="fname">Nhập lại mật khẩu</label>
                                <input type="password" id="fname" name="rePassword" class="form-control"  required>
                            </div>
                        </div>

                        <div class="row form-group mb-4">
                            <div class="col-md-12 mb-3 mb-md-0">
                                <label class="text-black" for="fname">Số điện thoại</label>
                                <input type="text" id="fname" name="phoneNumber" class="form-control"  required>
                            </div>
                        </div>

                        <div class="row form-group mb-4">
                            <div class="col-md-12 mb-3 mb-md-0">
                                <label class="text-black" for="fname">Địa chỉ</label>
                                <input type="text" id="fname" name="address" class="form-control"  required>
                            </div>
                        </div>

                        <div class="row form-group">
                            <div class="col-md-12">
                                <input type="submit" value="Đăng ký" class="btn px-4 btn-primary text-white">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-lg-6">
                    <h2 class="mb-4">Đăng nhập</h2>
                    <form action="/user/login" method="post" class="p-4 border rounded">

                        <div class="row form-group">
                            <div class="col-md-12 mb-3 mb-md-0">
                                <label class="text-black" for="fname">Email</label>
                                <input type="email" id="fname" name="email" class="form-control"  required>
                            </div>
                        </div>
                        <div class="row form-group mb-4">
                            <div class="col-md-12 mb-3 mb-md-0">
                                <label class="text-black" for="fname">Mật khẩu</label>
                                <input type="password" id="fname" name="password" class="form-control"  required>
                            </div>
                        </div>

                        <div class="row form-group">
                            <div class="col-md-6">
                                <input type="submit" value="Đăng nhập" class="btn btn-block btn-primary btn-md">
                            </div>
                            <div class="col-md-6">

                                <a href="/user/forgot-password" class="btn btn-block btn-primary btn-md">Quên mật khẩu</a>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </section>


    <footer th:replace="public/fragments :: footer"  class="site-footer">

    </footer>

</div>


</body>
</html>